
.description{
    display: flex;
    justify-content: left;
    background-color: rgb(57, 57, 57) ;
    color: orange;
}

.cards{
    display: flex;
    justify-content: center;
    flex-direction:row;
    background-color: orange;
}

.reserve{
    display: flex;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    color: orange;
}

.cardClass{
    margin: 1vh;
}

.cardClass h5{
    color: orange;
}

.footer{
    background-color: rgb(36, 36, 36);
    color: orange;
    display: flex;
    justify-content: center;
}

